/* tipografia a usar em toda a aplicação */
body {
    font-family: 'Inter', sans-serif;
}

/* títulos */
h1, h2, h3 {
    font-weight: bold;
    color: var(--bs-primary-text-emphasis);
    margin-top: 1rem;
}

/* imagem do logo da navbar */
.logo-img {
    height: 2.5rem;
}

/* imagem e posição da imagem da homepage*/
.homepage-image {
    background-image: url('../images/homepage.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    min-width: 50%;
}




